.buttons-container {
    /* margin-left: 75px; */
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(2, 210px); /* 2 buttons per row, 210px width */
    gap: 6px; /* Buttons ke beech space */
    column-gap:60px;
    width: 100%;
    margin-top: 30px;
  }
  
  .btn-primary {
    width: 245px;
    height: 60px;
    border: 1px solid #e7760d;
    border-radius: 5px;
    color: black;
    background-color: white;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    position: relative;
    margin: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 300px; */
    transition: background-color 0.5s ease;
  }
  
  .btn-primary .hover-icon {
    position: absolute;
    transform: translate(-50%, -50%);
    transition: left 0.5s ease; /* Smoothly move on hover */
    margin-left: 210px;
    margin-top: 18px;
  }
  
  .btn-primary:hover {
    opacity: 0.8;
    background-color: #e7760d;
    color: white;
  }
  @media (max-width: 768px) {
    .btn-primary {
      
    }
  }
  @media (max-width: 480px) {
    .btn-primary {
      /* add design */
    }
  }  