.hero {
  width: 100%;
  min-height: 523px;
  background: linear-gradient(
      356.01deg,
      rgba(7, 47, 87, 0.75) 50.8%,
      rgba(7, 47, 87, 0) 94.58%
    ),
    linear-gradient(0deg, rgba(7, 47, 87, 0.45), rgba(7, 47, 87, 0.45)),
    url("../assets/hero-habot.PNG");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.container {
  padding-left: 20px;
  padding-right: 50px;
  width: 94.9vw;
  overflow: hidden;
}
.hero-text {
  width: 100%;
  max-width: 935px;
  text-align: center;
  margin-bottom: 20px;
}

.hero-text h1 {
  font-family: Poppins, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-top: 25px;
}

.hero-text h3 {
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
}

.hero-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 935px;
  margin-top: 20px;
}

.hero-inputs input {
  width: calc(50% - 10px);
  height: 56px;
  padding: 0 20px 0 45px; /* Adjusted left padding to make space for smaller icon */
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #fff;
  color: black;
  margin: 5px;
  background-size: 18px; /* Reduced icon size */
  background-position: 15px center; /* Adjusted icon position */
  background-repeat: no-repeat;
}

/* First input icon - suitcase */
.icon-input:first-of-type {
  background-image: url("../assets//suitcase\ 1.png");
  background-size: 18px; /* Reduced size */
  background-position: 15px center; /* Add margin by positioning */
}

/* Second input icon - location placeholder */
.icon-input:last-of-type {
  background-image: url("../assets/placeholder\ 1.png");
  background-size: 18px; /* Reduced size */
  background-position: 15px center; /* Add margin by positioning */
}

.hero-inputs button {
  width: 110px;
  height: 56px;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
  background: #00732f;
  color: #fff;
  cursor: pointer;
  margin: 5px;
}

.hero-footer {
  text-align: center;
  margin-top: 20px;
}

.hero-footer b {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.hero-footer a {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 6px;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .hero {
    width: 85%;
  }
  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text h3 {
    font-size: 1.25rem;
  }

  .hero-inputs {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 300px;
    margin-left: 20px;
    gap: 10px;
  }

  .hero-inputs input,
  .hero-inputs button {
    width: 100%;
    margin: 5px 0;
  }

  .hero-footer {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 1.5rem;
  }

  .hero-text h3 {
    font-size: 1rem;
  }

  .hero-inputs input,
  .hero-inputs button {
    width: 100%;
  }
  .hero-inputs button {
    font-weight: bold;
    font-size: 18px;
  }
  .hero-text{
    margin-top: 45px;
  }
}
